{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: blossom-ingress
  namespace: blossom
  labels:
    app.kubernetes.io/part-of: blossom
    app.kubernetes.io/managed-by: Helm
spec:
  tls:
  - hosts:
    - {{ .Values.ingress.host }}
    secretName: blossom-certificate
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: blossom-service
                port:
                  number: 80
  ingressClassName: {{ .Values.ingress.className }}
{{- end -}}